@font-face {
    font-family: Cambria;
    src: url('https://tarteletmand69.github.io/fonts/Cambria.ttf')
}

body {
    background-color: rosybrown;
    }

h1 {
    size:40;
    color:white;
    padding: 5px;
    text-align: left;
    }

p {
    size: 14;
    color:white;
    padding:5px;
    text-align: left;
    }

.borderbb {
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: white;
    border-width: 2px 0px 4px 0px;
    }

.borderb {
    display:inline-block;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: white;
    border-width: 0px 0px 4px 0px;
}