
body {
    background-color: rosybrown;
    }

h1 {
    size:40;
    color:white;
    padding: 5px;
    }

p {
    size: 14;
    color:white;
    padding:5px;
    }

.borderbb {
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: white;
    border-width: 2px 0px 4px 0px;
    }